<div class="login-card">
  <h1>LOGIN</h1>

  <form>
    <div class="mb-4"> <!--mb é margin-bottom-->
      <input
        type="text"
        class="form-control"
        placeholder="Email"
        name="username"
      />
    </div>

    <div class="mb-4">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
      />
    </div>

    <div class="login-submit">
      <a pButton class="btn btn-primary" routerLink="/members/list">Logar</a>
    </div>
  </form>
</div>
