<nav class="sidebar-container">
    <div class="title">
        <h4>Área Admin</h4>
    </div>
    <ul class="sidebar-items-container">
      <li>
        <a routerLink="/admin/trainers/list" class="sidebar-item" routerLinkActive="active"
          >
          <fa-icon icon="running" class="mr-2"></fa-icon>
          <p>Instrutores</p></a
        >
      </li>
      <li>
        <a routerLink="/admin/users/list" class="sidebar-item" routerLinkActive="active"
          >
          <fa-icon icon="user-friends" class="mr-2"></fa-icon>
          <p>Usuários</p></a
        >
      </li>
    </ul>
</nav>